@font-face {
  font-family: IBM3270;
  src: url('../fonts/Px437_IBM_3270pc.ttf');
}

@font-face {
  font-family: TreasureMap;
  src: url('../fonts/Treamd.ttf');
}

body {
  margin: 0px;
  /* font-family: TreasureMap; */
}

.site-nav {
  display: flex;
  justify-content: flex-end;
}


.site-header {

  /* font-family: IBM3270, Helvetica, Arial, sans-serif; */

  /* background-image: url("https://s3-us-west-2.amazonaws.com/map-content-images/hero_img.png"); */
  min-height: 40vh;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.site-divider {
  min-height: 100px;
  background-color: #ffdcae;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-maps {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.column {
  width: 250px;
  margin: 10px;
  text-align: center;
}
